@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* background: rgb(255, 250, 255); */
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #ffffe9);
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  letter-spacing: 3px;
}

.dogs-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
